[submodule "quadruped_pympc/acados"]
	path = quadruped_pympc/acados
	url = https://github.com/acados/acados.git

[submodule "quadruped_pympc/gym_quadruped"]
	path = quadruped_pympc/gym_quadruped
	url = git@github.com:SuperSneek/gym_quadruped_luna.git
